<!-- <mui-org-chart
  [topEmployee]="topEmployee"
  direction="vertical"
  (itemClick)="isClicked($event)"
  (click)="showBasicDialog()"
  data-bs-target="#staticBackdrop"
></mui-org-chart> -->

<!-- prime ng dialog which opens at START NODE ONLY -->

<p-dialog
  *ngIf="isFirstNode"
  [(visible)]="displayBasic"
  [style]="{ width: 'auto', height: 'auto' }"
  [baseZIndex]="1000"
>
  <ng-template pTemplate="header">
    <h3>Campaign Description</h3>
  </ng-template>
  <!-- previous tempalte start -->
  <!-- <p-radioButton
    name="groupname"
    [(ngModel)]="radioVal.value"
    value="email"
    label="Email"
  ></p-radioButton>
  <p-radioButton
    name="groupname"
    [(ngModel)]="radioVal.value"
    value="sms"
    label="SMS"
  ></p-radioButton>
  <ng-template pTemplate="footer">
    <p-button
      icon="pi pi-check"
      (click)="displayBasic = false; whichRadioClicked(radioVal.value)"
      label="Yes"
      styleClass="p-button-text"
    ></p-button>
    <p-button
      icon="pi pi-times"
      (click)="displayBasic = false"
      label="No"
    ></p-button>

  </ng-template> -->
  <!-- previous template end -->
  <ng-template
    pTemplate="dialog-content"
    style="overflow-y: visible"
    class="p-4"
  >
    <!-- <span class="p-float-label pt-9">
      <input
        type="text"
        pInputText
        [(ngModel)]="campaignName"
        id="campaignNameInput"
        class="col-12"
      />
      <label for="campaignNameInput">Campaign Name</label>
    </span> -->

    <div class="field col-12 md:col-4 pt-4 pb-1">
      <span class="p-float-label">
        <input
          type="text"
          id="inputtext"
          pInputText
          [(ngModel)]="campaignName"
          class="col-12"
        />
        <label for="campaignNameInput" class="font-bold">Campaign Name</label>
      </span>
    </div>
    <div class="p-float-label mt-4">
      <textarea
        rows="5"
        cols="22"
        pInputTextarea
        [autoResize]="true"
        [(ngModel)]="campaignDescription"
        id="campaignDescriptionInput"
        style="min-height: 150px"
        class="col-12"
      ></textarea>
      <label for="campaignDescriptionInput">Campaign Description</label>
    </div>

    <div class="pt-4">
      <!-- <label for="campaignNameInput" class=""><h5>Recipient List</h5></label> -->
      <p-dropdown
        [options]="savedQueries"
        [(ngModel)]="selectedQuery"
        optionLabel="name"
        class="col-12"
        placeholder="Recipient List"
        [style]="{ width: '100%', height: 'auto' }"
      ></p-dropdown>
    </div>

    <div class="pt-2 pb-4">
      <!-- <label for="campaignNameInput" class=""><h5>Supression List</h5></label> -->
      <p-dropdown
        [options]="savedQueries"
        [(ngModel)]="selectedQuery"
        optionLabel="name"
        placeholder="Supression List"
        class="col-12"
        [style]="{ width: '100%', height: 'auto' }"
      ></p-dropdown>
    </div>

    <!-- <p-calendar
      [(ngModel)]="startDate"
      [showTime]="true"
      [showSeconds]="true"
      inputId="time"
      [showIcon]="true"
      [style]="{ width: 'auto', height: 'auto' }"
    ></p-calendar> -->
    <div class="pt-2">
      <!-- <label for="campaignNameInput" class=""><h5>Day Start</h5></label> -->
      <p-calendar
        appendTo="body"
        [(ngModel)]="startDate"
        [showTime]="true"
        inputId="time"
        [style]="{ width: '100%', height: 'auto' }"
        placeholder="Start Date"
      ></p-calendar>
    </div>

    <div class="pt-2">
      <!-- <label for="campaignNameInput" class=""><h5>Day End</h5></label> -->
      <p-calendar
        class="mt-4"
        appendTo="body"
        [(ngModel)]="endDate"
        [showTime]="true"
        inputId="time"
        [style]="{ width: '100%', height: 'auto' }"
        placeholder="End Date"
      ></p-calendar>
    </div>

    <!-- <div class="field col-12 mt-4">
      <p-calendar
        [(ngModel)]="endDate"
        [showTime]="true"
        [showSeconds]="true"
        inputId="time"
        [showIcon]="true"
      ></p-calendar>
    </div> -->
  </ng-template>

  <!-- Footer of dialouge -->
  <ng-template pTemplate="footer" class="text-align-center">
    <button
      pButton
      pRipple
      type="button"
      label="Save"
      (click)="displayBasic = false; campaignDescriptionSaveBtn()"
      class="p-button-outlined p-button-warning text-center"
      icon="pi pi-check"
    ></button>
  </ng-template>
</p-dialog>
<!-- ends here -->

<!-- modal for slide menu -->

<p-dialog
  *ngIf="!isFirstNode"
  [(visible)]="displayBasic"
  [style]="{ width: 'auto', height: 'auto' }"
  [baseZIndex]="10000"
>
  <p-slideMenu
    id="myModal"
    [model]="items"
    [viewportHeight]="250"
    (click)="tabCalled($event)"
  ></p-slideMenu>

  <!-- <ng-template pTemplate="footer">
    <p-button
      icon="pi pi-check"
      (click)="displayBasic = false"
      label="Yes"
      styleClass="p-button-text"
    ></p-button>
    <p-button
      icon="pi pi-times"
      (click)="displayBasic = false"
      label="No"
    ></p-button>
  </ng-template> -->
</p-dialog>
<!-- ends here -->

<p-organizationChart
  #chart
  [value]="data1"
  selectionMode="single"
  [(selection)]="selectedNode"
  (onNodeSelect)="isClicked($event, chart)"
  (onNodeUnselect)="unSelect($event)"
>
  <!-- in order to style specific node pTemplate should be given name 
      provided in TYPE of that node in object -->

  <ng-template let-node pTemplate="startNode">
    <div class="node-content">
      <img
        src="https://icons.iconarchive.com/icons/custom-icon-design/flatastic-1/24/add-icon.png"
        alt=""
      />
    </div>
  </ng-template>
</p-organizationChart>
