:host ::ng-deep .p-organizationchart {
    .p-person {
        padding: 0;
        border: rgb(37, 192, 71) solid 3px;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-right: 0.9rem;
        padding-left: 0.9rem;
        border-radius: 0.5rem;
        
    }
    .p-endNode{
        padding: 0;
        border: rgb(173, 58, 58) solid 3px;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-right: 0.9rem;
        padding-left: 0.9rem;
        border-radius: 0.5rem;
    }
    .node-header, .node-content {
        padding: .5em .7rem;
    }

    .node-header {
        background-color: #495ebb;
        color: #ffffff;
    }
    .company {
        border-radius: 10px;
    }
    .node-content {
        text-align: center;
        border: 1px solid #495ebb;
    }

    .peekBtn{
        background-color: #a534b6;
        padding: 0.5rem;
    }
    .node-content img {
        border-radius: 50%;
    }

    .department-cfo {
        background-color: #7247bc;
        color: #ffffff;
    }

    .department-coo {
        padding: 0;
        background-color: #a534b6;
        opacity: 0.8;
        color: #ffffff;
        border-radius: 15px;
    height: 3rem;
    width: 3rem;
    font-weight: bold;
    font-size: 1.6rem;
    border: red solid 2px !important;
    }

    .department-cto {
        background-color: #e9286f;
        color: #ffffff;
    }
}

// ::ng-deep .p-datepicker table td {
//     padding: 0.13rem; // use as per your requirement.
//   }
::ng-deep p-calendar .ui-calendar .ui-inputtext {
    // add style here
    border: 1px solid red;
  }
  .p-dialog-content {
    overflow-y: initial !important;
  }
  .p-calendar  {
    top: 0 !important;
  }
  .p-datepicker {
    top: 0 important ;
  }