body {
    padding: 2em;
     font-family: -apple-system, BlinkMacSystemFont, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif, “Apple Color Emoji”, “Segoe UI Emoji”, “Segoe UI Symbol”; }
  
  
  
  
   .mui-oc-image {
    background-repeat: no-repeat;
    width: 2em;
    height: 2em;
    margin-right: 0.5em;
    background-color: white;
    border-radius: 50%;
    padding: 0.25em;
  }
  .mui-oc-name {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .mui-oc-designation {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  .mui-oc-horizontal {
    padding: 1em 0;
  }
  .mui-oc-vertical {
    padding: 0 1em;
  }
  .mui-oc-border {
    border: 1px solid darkgrey;
  }
  .mui-oc-box {
    padding: 0.5em 1em;
    border-radius: 0.2em;
    box-shadow: 0.05em 0.05em 0.2em 0.05em #0000002b;
  }
  .mui-oc-connector-horizontal {
    width: 1em;
  }
  .mui-oc-connector-vertical {
    height: 1em;
  }
  